parameters:
  tmpDir: %currentWorkingDirectory%/cache/phpstan
  level: max
  paths:
    - src/
    - test/
  # Don't force participants to update the baseline if they have fixed a known issue
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    -
      identifiers:
        - method.unused
        - property.onlyWritten
includes:
  - vendor/phpstan/phpstan-beberlei-assert/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  # Don't cause confusion about issues that are known to exist at the beginning of the training
  - phpstan-baseline.neon
