parameters:
	ignoreErrors:
		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 12
			path: test/Unit/TicketMill/Domain/Model/Concert/ConcertTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: test/Unit/TicketMill/Domain/Model/Reservation/ReservationTest.php

